.sectionProducts {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

@media (min-width:768px) {
    .sectionProducts {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (min-width:1200px) {
    
}